##Force SSL 
##Reference: https://blog.jcore.com/2017/01/forcing-https-with-an-htaccess-file-on-heroku/

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]