

The Author Bio!

Add Facebook post comments in the Book Promotion Review Sections (before even reading!)

The exact pricing for the soft and hard cover products

Generate facebook link for Dad's profile

Ask if Dad want's chapter's displayed? If so get them. Preview chapters?

On other content placeholders?

(Optional before release) Mobile Experience: Book Quanity Selector, the entire Checkout page