Priority List:

Book Cover on landing page
 
Wait for Facebook post comments in the Book Promotion Review Sections

Create a logo

Create custom requested title style (requirements in email)

Add web app meta data: 
https://stackoverflow.com/questions/44880720/how-do-you-handle-html-metadata-in-progressive-web-apps-pwa
https://speckyboy.com/creating-a-mobile-web-application-with-meta-tags/


Add Copyright license (follow documentation)

Markell's suggestions

    https://www.facebook.com/business/learn/facebook-ads-pixel
    https://www.youtube.com/watch?v=eFxoHpNiKIA
    https://www.axiapr.com/blog/add-google-pixel-retargeting-to-your-website#:~:text=Google%20Pixel%20Retargeting%20is%20really,help%20you%20with%20your%20marketing.
    https://www.youtube.com/watch?v=JSm4aQl4w_U
    https://www.youtube.com/watch?v=HBDC35Vgj34



Make official posts!